version: '3.9'

services:
# PostgreSQL database service
postgres:
  image: postgres:latest
  container_name: postgres_db
  restart: always
  environment:
    POSTGRES_DB: alx_travel_db
    POSTGRES_USER: alx_user
    POSTGRES_PASSWORD: alx_pass
  ports:
    - "5432:5432"
  volumes:
    - postgres_data:/var/lib/postgresql/data
  networks:
    - backend_network

# Redis cache
redis:
  image: redis:latest
  container_name: redis_cache
  restart: always
  ports:
    - "6379:6379"
  networks:
    - backend_network
  
volumes:
  postgres_data:

networks:
  backend_network:
    driver: bridge  